body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
}

.header {
    width: 100%;
    border-bottom: 5px #EEA500 solid;
    height: 100px;
    background: linear-gradient(90deg, #f44e2d 0%, #f08080 93%, #fa8072  );
    font-weight: bold;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.nav-title{
    color:#00AAAA;
    margin: 0px;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 175px;
    justify-content: space-between;
    font-size: 25px;
    /*display: inline;*/
}

.navbar{
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-item{
    text-decoration: none;
    color: #EE9500;
}

.nav-item:hover {
    color: #FF6500;
}

.nav-item:active {
    color: #FF3500;
}

.banner{
    height: 500px;
    background-image:url("imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
}

.banner .card {
    background-color: #FFFFFF;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
}

.banner .card{
    color: #DD0000
}

.btn{
    font-family: monospace;
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    background-color: #DD0000;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 15px;
    transition: 1s;
    
}
.btn:hover{
 background-color: #f44e2d;
 -webkit-trasnform: scale (1.5);
 -ms-transform: scale (1.5);
 transform: scale (1.5);
}

input{
    height: 30px;
    border: 2px #DD0000 solid;
    border-radius: 6px;
}